.user-list-container{
    display: flex;
    justify-content: center;
    margin: 10vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(30vmin, 1fr));
    justify-content: center;
}

.user-card {
    background-color: rgb(170, 170, 170);
    margin: 2vmin 1vmin;
    padding: 1vmin;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 2vmin;
    width: 20vmin;
}

.user-card img {
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
}

.loading-container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}